.text {
  font-size: 22px;
  line-height: 1.3;
  color: #c4c5c5;
  margin-bottom: 30px;
  /* width: 90%; */
  text-align: center;
}
.signinWrapper {
  margin-top: 20px;
}

.hasInvite {
  color: #0077ff;
}
